.top-pr-7px
{
    position: relative;
    top: 7px;
}
.w-form
{
    right: 5px !important;
    left: 260px !important;
    top: 0;
}
.main-lef-margin.main-content {
    margin-left: 16.315rem !important;
}
@media only screen and (max-width: 992px) {
    .w-form{
        left: 0 !important;
    }
    .main-lef-margin.main-content {
        margin-left: 0 !important;
    }
}
@media only screen and (max-width: 600px) {
    .w-form{
        left: 0;
    }
    .navbar-tabel li{
        width: 20px;
        float: left;
    }
    .main-lef-margin.main-content {
        margin-left: 0 !important;
    }
}
.brand-form{
    position: relative;
    top: -7px;
}
.crop-text
{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul li.list-card{list-style: none; display: flex;}
.list-card{width: 260px !important; float: left;}
.ct-docs-content-col ul
{
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.ct-docs-content-col ul li
{
    width: 100%;
    display: flex;
}
.h-sidebar{
    height: calc(100vh - 110px) !important;
}
.hm-100{
    height: calc(100vh - 16px) !important;
}
.crop-text
{
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.timeline-item {
    background: #fff;
    max-width: 100%;
    min-height: auto;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: auto;
    position: relative;
    border-radius: 10px;
    content: ".";
}
.main-lef-margin.main-content-modal {
    margin-left: 16.315rem !important;
}
ul.nav-pills {
    justify-content: center;
}
.nav-pills>li{
    display: inline-block;
    display: inline;
    zoom: 1;
}
.nav-pills>li>a{
    line-height:24px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555;
    transition: all .3s;
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 10px;
}
.nav-pills>li i{
    display: block;
    font-size: 25px;
    padding: 10px;
}
a .material-icons{
    vertical-align: middle;
}
.nav-pills>li>a:hover{
    background-color: rgba(200, 200, 200, .2);
}
.nav-pills>li>a:focus{
    background-color: #9c27b0;
    color: #fff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 /14%), 0 7px 10px -5px rgb(156 39 176 /40%);
}
#search_control{
    z-index: 2;
}
.search-content{
    z-index: 1;
    top: 300px;
    height: auto;
    max-height: 300px;
    width: 440px;
    padding-top: 50px;
}
.list-group > a > small{
    overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:300px;
}

@media only screen and (max-width: 600px){
    .search-content{
        top: 190px;
        width: auto;
    }
    .list-group > a > small{
        width: 240px
    }
}