.top-pr-7px
{
    position: relative;
    top: 7px;
}
.w-form
{
    right: 0;
    left: 255px;
    top: 0;
}
.main-lef-margin.main-content {
    margin-left: 16.315rem !important;
}
@media only screen and (max-width: 992px) {
    .w-form{
        left: 0;
    }
    .main-lef-margin.main-content {
        margin-left: 0 !important;
    }
}
@media only screen and (max-width: 600px) {
    .w-form{
        left: 0;
    }
    .navbar-tabel li{
        width: 20px;
        float: left;
    }
    .main-lef-margin.main-content {
        margin-left: 0 !important;
    }
}
.brand-form{
    position: relative;
    top: -7px;
}
.crop-text
{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul li.list-card{list-style: none; display: flex;}
.list-card{width: 260px !important; float: left;}
