{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/select2.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="top-0 me-3 scrollspy-example" id="procedure" data-bs-spy="scroll" data-bs-offset="0">
                <form action="{% url 'validate.create' %}" method="POST" id="frm_validations" enctype="multipart/form-data">
                    {% csrf_token %}
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'validate.index' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                {$ title $}
                            </div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="button" @click="RegisterProcedure()">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="row">
                        <div class="col-12">
                            <div class="position-relative mt-3 max-height-vh-100 h-100 ps">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos del expediente</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-3">
                                                    <label class="form-label">Expediente</label>
                                                    {{forms.form_p.proceedings}}
                                                    {{forms.form_p.year_proceeding}}
                                                </div>
                                                <div class="d-flex">
                                                    <div class="input-group input-group-sm input-group-static">
                                                        <label for="exampleFormControlSelect1" class="ms-0">Ruta</label>
                                                        {{forms.form_p.route}}
                                                    </div>
                                                    <button class="btn bg-gradient-success h-50 mt-3 btn-sm d-flex mb-0" type="button" id="btn-route" data-bs-toggle="modal" data-bs-target="#routes">
                                                        <span class="material-icons">
                                                            add
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="input-group input-group-sm input-group-static">
                                                    <label>Fecha de Control</label>
                                                    {{forms.form_p.check_date}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static">
                                                    <label>fecha de vencimiento</label>
                                                    {{forms.form_p.due_date}}
                                                </div>
                                                <div class="form-check form-switch d-flex align-items-center mt-3">
                                                    {{forms.form_p.status}}
                                                    <label class="form-check-label mb-0 ms-3" for="rememberMe">Expediente habilitada</label>
                                                </div>
                                                <hr class="dark horizontal my-2">
                                                <div>
                                                    <ul class="px-2 me-sm-n4 ct-docs-content-col list-unstyled">
                                                        <li class="mb-2 me-2">
                                                            <a class="dropdown-item border-radius-md" href="javascript:;"  id="btn-route" data-bs-toggle="modal" data-bs-target="#contracts">
                                                                <div class="d-flex py-1">
                                                                    <div class="my-auto">
                                                                        <div id="icon-contract" class="text-dark text-center me-2 d-flex align-items-center justify-content-center">
                                                                            <i class="material-icons opacity-10" >privacy_tip</i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column justify-content-center">
                                                                        <h5 class="text-sm font-weight-normal mt-2">
                                                                            <span class="font-weight-bold">Contrato</span>
                                                                        </h5>
                                                                    </div>
                                                                    <input type="hidden" name="contract" id="contract">
                                                                    <small class="text-uppercase d-flex mt-2 ms-1" id="code">ninguno</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="mb-2 me-2">
                                                            <a class="dropdown-item border-radius-md" href="javascript:;" id="id_authorization" data-bs-toggle="modal" data-bs-target="#authorization">
                                                                <div class="d-flex py-1">
                                                                    <div class="my-auto">
                                                                        <div id="icon-authorization" class="text-dark text-center me-2 d-flex align-items-center justify-content-center">
                                                                            <i class="material-icons opacity-10">privacy_tip</i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column justify-content-center">
                                                                        <h5 class="text-sm font-weight-normal mt-2">
                                                                            <span class="font-weight-bold">Autorizacion</span>
                                                                        </h5>
                                                                    </div>
                                                                    <input type="hidden" name="authorization" id="id_autorization">
                                                                    <small class="text-uppercase d-flex mt-2 ms-1" id="code_autrization">ninguno</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="mb-2 me-2">
                                                            <a class="dropdown-item border-radius-md" href="javascript:;" id="id_substitution" data-bs-toggle="modal" data-bs-target="#substitution">
                                                                <div class="d-flex py-1">
                                                                    <div class="my-auto">
                                                                        <div id="icon-authorization" class="text-dark text-center me-2 d-flex align-items-center justify-content-center">
                                                                            <i class="material-icons opacity-10">privacy_tip</i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column justify-content-center">
                                                                        <h5 class="text-sm font-weight-normal mt-2">
                                                                            <span class="font-weight-bold">Subtitucion</span>
                                                                        </h5>
                                                                    </div>
                                                                    <input type="hidden" name="substitution" id="id_substitution">
                                                                    <small class="text-uppercase d-flex mt-2 ms-1" id="code_autrization">ninguno</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-secondary btn-lg w-100 my-2" @click="validateOptions()">Verificar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 px-1">
                                        <div class="card h-100 me-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos generales del vehiculo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <input type="hidden" name="vehicles" value="{{pk}}">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <small>Placa del vehiculo</small>
                                                        <h3 class="mb-0"><i class="fa fa-bus text-success me-3"></i>{{unit.plate}}</h3>
                                                        <h6>
                                                            <small id="year_prod">{{unit.year_of_production}}</small>
                                                            <a href="#" id="comment" data-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="This is a very beautiful popover, show some love.">
                                                                <i class="fas fa-comment {%if unit.comment == '' %} text-info {% else %} text-secondary {%endif%}"></i>
                                                            </a>
                                                        </h6>
                                                        <input type="hidden" name="year" id="id_year">
                                                        <input type="hidden" name="license_plate" id="id_license_plate" value="{{unit.plate}}" readonly>
                                                        <input type="hidden" name="year_of_production" id="id_year_of_production" value="{{unit.year_of_production}}" readonly>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <small>Propietarios</small>
                                                        {% for user in unit.owners.all %}
                                                        <span class="chk-result badge bg-gradient-secondary py-1 mx-1">
                                                            <input type="checkbox" name="owner" id="id_owner" value="{{ user.dni }}" checked class="d-none">
                                                            <span><i class="fa fa-user me-2"></i>{{user.name}} {{user.first_name}} {{user.last_name}}</span>
                                                        </span>
                                                        {% endfor %}
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    <div class="my-2 d-flex">
                                                        <div class="card w-30 mt-3">
                                                            <div class="card-header p-3 pt-2">
                                                                <div class="text-center pt-1">
                                                                    <p class="text-sm mb-0 text-capitalize">Alto</p>
                                                                    <h4 class="mb-0">{{unit.height}}<small class="h6 text-grey">Mtr</small></h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card w-30 mt-3">
                                                            <div class="card-header p-3 pt-2">
                                                                <div class="text-center pt-1">
                                                                    <p class="text-sm mb-0 text-capitalize">Ancho</p>
                                                                    <h4 class="mb-0">{{unit.broad}}<small class="h6 text-grey">Mtr</small></h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card w-30 mt-3">
                                                            <div class="card-header p-3 pt-2">
                                                                <div class="text-center pt-1">
                                                                    <p class="text-sm mb-0 text-capitalize">Largo</p>
                                                                    <h4 class="mb-0">{{unit.longitude}}<small class="h6 text-grey">Mtr</small></h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul class="px-2 me-sm-n2 list-group list-unstyled">
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="form-check">
                                                                        {{forms.form_p.property_card}}
                                                                        <label class="custom-control-label mb-0" for="customCheck1">tarjeta de propiedad</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="form-check">
                                                                        {{forms.form_p.RRPP_Newsletter}}
                                                                        <label class="custom-control-label mb-0" for="customCheck1">Boletin informativo RRPP</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="form-check">
                                                                        {{forms.form_p.bonding_contract}}
                                                                        <label class="custom-control-label mb-0" for="customCheck1">Contrato de Vinculacion</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="form-check">
                                                                        {{forms.form_p.vehicle_authorization}}
                                                                        <label class="custom-control-label mb-0" for="customCheck1">Autorización Vehicular</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="form-check">
                                                                        {{forms.form_p.check_sistran}}
                                                                        <label class="custom-control-label mb-0" for="customCheck1">Verificación en el SISTRAN</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="px-2 me-sm-n2 list-group list-unstyled">
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="javascript:;">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', scorecolor]" >
                                                                                <i :class="['fas', scoreicon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                <span class="font-weight-bold">Calificacion</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.score}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$ score_text $}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', percolor]">
                                                                                <i :class="['fas', pericon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                <span class="font-weight-bold ">Antigüedad</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.seniority_period}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$per_text$}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', enbcolor]">
                                                                                <i :class="['fas', enbicon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                <span class="font-weight-bold ">Habilitacion</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.enabled}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$enb_text$}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="px-2 me-sm-n2 list-group list-unstyled">
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', soatcolor]" >
                                                                                <i :class="['fas', soaticon, 'me-1', 'opacity-10']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                {{forms.form_p.soat}}
                                                                                <span class="font-weight-bold ">SOAT</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.soat_status}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$ soat_text $}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div  :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', citvcolor]" >
                                                                                <i :class="['fas', citvicon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                {{forms.form_p.citv}}
                                                                                <span class="font-weight-bold ">CITV</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.citv_status}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$citv_text$}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', srccolor]">
                                                                                <i :class="['fas', srcicon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                {{forms.form_p.src}}
                                                                                <span class="font-weight-bold ">SRC</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.src_status}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$src_text$}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="mb-2">
                                                                <a class="dropdown-item border-radius-md" href="#">
                                                                    <div class="d-flex py-1">
                                                                        <div class="my-auto">
                                                                            <div :class="['text-center', 'me-2', 'd-flex', 'align-items-center', 'justify-content-center', svctcolor]">
                                                                                <i :class="['fas', svcticon, 'me-1']"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h5 class="text-sm font-weight-normal mt-2">
                                                                                {{forms.form_p.svct}}
                                                                                <span class="font-weight-bold ">svct</span>
                                                                            </h5>
                                                                        </div>
                                                                        {{forms.form_p.svct_status}}
                                                                        <small class="text-uppercase d-flex mt-2 ms-1">{$svct_text$}</small>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-12 px-1">
                                        <div class="card h-100 mx-2">
                                            <div class="card-header pb-0">
                                                <h6>Verificacion para la habilitacion</h6>
                                            </div>
                                            <div class="card-body p-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="routes" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'procedure.create' %}" method="POST" id="form_route">
                        {% csrf_token %}
                        <input type="hidden" name="vehicles" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Registrar nueva Ruta</h5>
                                <p class="mb-0">Ingrese los datos necesarios para el registro nueva RUTA</p>
                            </div>
                            <div class="card-body">
                                <div class="input-group input-group-lg input-group-outline my-3">
                                    <label class="form-label">Ruta</label>
                                    {{forms.form_r.route}}
                                </div>
                                <div class="input-group input-group-sm input-group-outline my-3">
                                    <label class="form-label">Limite</label>
                                    {{forms.form_r.limit}}
                                </div>
                                <div class="input-group input-group-sm input-group-static my-3">
                                    <label>Consesion</label>
                                    {{forms.form_r.concession}}
                                </div>
                                <div class="form-check form-switch d-flex align-items-center">
                                    {{forms.form_r.status}}
                                    <label class="form-check-label mb-0 ms-3" for="rememberMe">Ruta habilitada</label>
                                </div>
                                <div class="text-center">
                                    <button type="button" @click="RetisterRoute()" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Registrar ruta</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contracts" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'procedure.create' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="vehicles" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Registrar nueva contrato</h5>
                                <p class="mb-0">Ingrese los datos necesarios para el registro nueva RUTA</p>
                                <button class="btn me-1 bg-gradient-info d-flex align-self-end float-end mt-n6" type="button" @click="CreateContract()">
                                    <i class="material-icons opacity-10">check</i>
                                    Guardar registro
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos del contrato</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline mt-0 mb-3">
                                                    <label class="form-label">Codigo del contrato</label>
                                                    <input type="text" v-model="code" class="form-control form-control-lg">
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label >Fecha de registro</label>
                                                    <input type="date" v-model="registration_date" class="form-control form-control-sm">
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de vencimiento</label>
                                                    <input type="date" v-model="due_date" class="form-control form-control-sm">
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" v-model="stts" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Contrato vigente</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Subir documento</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        <input name="file" type="file" @change="onFileChange"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="authorization" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'procedure.create' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="vehicles" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Autorizacion vehicular</h5>
                                <p class="mb-0">Registro del documento de Habilitación o Autorización de la Unidad Vehicular</p>
                                <button class="btn me-1 bg-gradient-info d-flex align-self-end float-end mt-n6" type="button" @click="createAuthorization()">
                                    <i class="material-icons opacity-10">check</i>
                                    Guardar registro
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos del contrato </h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline mt-0 mb-3">
                                                    <label class="form-label">Codigo del Documento</label>
                                                    <input type="text" v-model="code" class="form-control form-control-lg">
                                                </div>
                                                <div class="input-group input-group-static">
                                                    <label for="exampleFormControlSelect2" class="ms-0">Habilitacion</label>
                                                    <select multiple="" class="form-control pb-4" id="exampleFormControlSelect2">
                                                        <option value="Observado" selected>Observado</option>
                                                        <option value="Aceptado">Aceptar</option>
                                                        <option value="Rechazado">Recharzar</option>
                                                    </select>
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" v-model="stts" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Contrato vigente</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Subir documento</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        <input name="file" type="file" @change="onFileChange"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 d-flex text-left">
                            <div id="bg-message" :class="['border-radius-lg', 'text-center', 'me-3', 'py-2', 'px-3', 'align-items-center', 'justify-content-center', gbMessage]">
                                <i id="icon" class="material-icons opacity-10 text-white mb-0 h3">question_mark</i>
                            </div>
                            <div class="w-90">
                                <h5 id="title-mesage">{$title$}</h5>
                                <p class="mb-0" id="content">{$content$}</p>
                            </div>
                        </div>
                        <div class="card-body py-0">
                            <div id="content-body"></div>
                            <hr class="dark horizontal my-2">
                            <button id="bg-btn-message" :class="['btn', 'me-1', 'd-flex', 'align-self-end', 'float-end', gbMessage]" type="button" @click="closeMessage()">
                                <i class="material-icons opacity-10">check</i>
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="substitution" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'procedure.create' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="vehicles" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Proceso de Sustitución Vehicular <small>(opcional)</small></h5>
                                <p class="mb-0">Solo en caso de que vaya a cambiar de vehiculo</p>
                                <button class="btn me-1 bg-gradient-info d-flex align-self-end float-end mt-n6" type="button" @click="createAuthorization()">
                                    <i class="material-icons opacity-10">check</i>
                                    Guardar registro
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos para la substitucion </h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline mt-0 mb-3">
                                                    <label>Placa del vehiculo</label>
                                                    {{forms.form_s.plate}}
                                                </div>
                                                <div class="input-group input-group-static">
                                                    <label for="exampleFormControlSelect2" class="ms-0">Substitucion</label>
                                                    {{forms.form_s.sustitucion}}
                                                </div>
                                                <div class="input-group input-group-static">
                                                    <label for="exampleFormControlSelect2" class="ms-0">Boleta Informativa del vehiculo saliente </label>
                                                    {{forms.form_s.exit_ticket}}
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" v-model="stts" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Contrato vigente</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Subir documento</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        <input name="file" type="file" @change="onFileChange"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select-single').select2();
        $('.select-sustit').select2({width: '100%'});
        $('.select-title').select2({
            width: '80px',
            height: '47px'
        });
    });
</script>
<script src="/static/assets/vue/apps/validate/routes.script.js"></script>
<script src="/static/assets/vue/apps/validate/contracts.script.js"></script>
<script src="/static/assets/vue/apps/validate/authorization.script.js"></script>
<script src="/static/assets/vue/apps/validate/procedure.script.js"></script>
<script src="/static/assets/vue/apps/validate/message.script.js"></script>
{% endblock javascripts %}