{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="/static/assets/css/select2.min.css" rel="stylesheet">{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="position-sticky z-index-sticky top-0 me-3 scrollspy-example" id="vehicles" data-bs-spy="scroll" data-bs-offset="0">
                <form action="{% url 'vehicles.create' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'vehicles.index' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                Nuevo registro
                            </div>
                            <div class="d-none" id="url_search_dni">../..</div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="submit">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="row">
                        <div class="col-12">
                            <div class="position-relative mt-3 max-height-vh-100 h-100 ps">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos generales del vehiculo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Placa de rodaje</label>
                                                    {{form.plate}}
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <div class="col-md-6 input-group input-group-sm input-group-outline my-3">
                                                            <label class="form-label">Marca</label>
                                                            {{form.mark}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <div class="col-md-6 input-group input-group-sm input-group-outline my-3">
                                                            <label class="form-label">Modelo</label>
                                                            {{form.model}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-static">
                                                    <label class="ms-0">Tipo de vehiculo</label>
                                                    {{form.type}}
                                                    <button class="btn btn-sm bg-gradient-success mb-0 px-3" type="button" id="type-modal" data-bs-toggle="modal" data-bs-target="#type-vehicle">
                                                        <span class="material-icons">
                                                            add
                                                        </span>
                                                    </button>
                                                    <!--<button class="btn bg-gradient-warning mb-0 px-3" type="button" id="submit-search">
                                                        <span class="material-icons">
                                                            edit
                                                        </span>
                                                    </button>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 me-2">
                                            <div class="card-header pb-0">
                                                <h6>Propitario del vehiculo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-static my-3">
                                                    <label class="ms-0">Empresa Propietario</label>
                                                    {{form.business}}
                                                    <button class="btn btn-sm bg-gradient-success mb-0 px-3" type="button" id="btn-business" data-bs-toggle="modal" data-bs-target="#business">
                                                        <span class="material-icons">
                                                            add
                                                        </span>
                                                    </button>
                                                    <!--<button class="btn bg-gradient-warning mb-0 px-3" type="button" id="submit-search">
                                                        <span class="material-icons">
                                                            edit
                                                        </span>
                                                    </button>-->
                                                </div>
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="exampleFormControlSelect1" class="ms-0">Buscar propietario por DNI</label>
                                                    {{form.owners}}
                                                    <button class="btn btn-sm bg-gradient-success mb-0 px-3" type="button"  id="btn-people" data-bs-toggle="modal" data-bs-target="#people">
                                                        <span class="material-icons">
                                                            add
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="overflow-auto overflow-y-auto w-lg-auto">
                                                    <span v-for="select in SelectUser" class="chk-result badge bg-gradient-secondary py-1 mx-1">
                                                        <input type="checkbox" class="d-none" name="owners" :value="select.dni" :id="select.dni" checked="checked">
                                                        <span>{$ select.name $} {$ select.first_name $} {$ select.last_name $} {$ select.dni $}</span>
                                                        <!--<button type="button" class="btn text-warning bg-transparent btn-sm mb-0 ms-2 p-1">
                                                            <span class="material-icons">
                                                                close
                                                            </span>
                                                        </button>-->
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-12 px-1">
                                        <div class="card h-100 mx-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos de caracteristicas del vehiculo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="row ps-2">
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <label class="form-label">Año de produccion</label>
                                                            {{form.year_of_production}}
                                                        </div>
                                                        <div class="input-group  input-group-sm input-group-outline my-2">
                                                            <label class="form-label">Longitud</label>
                                                            <span class="input-group-text me-3" id="basic-addon1">Mt.</span>
                                                            {{form.longitude}}
                                                        </div>
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <span class="input-group-text me-3" id="basic-addon1">Mt.</span>
                                                            <label class="form-label">Alto</label>
                                                            {{form.height}}
                                                        </div>
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <span class="input-group-text me-3" id="basic-addon1">Mt.</span>
                                                            <label class="form-label">Ancho</label>
                                                            {{form.broad}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <div class="input-group input-group-sm input-group-outline my-3">
                                                            <span class="input-group-text me-3" id="basic-addon1">Puertas</span>
                                                            <label class="form-label">Puertas de servicio</label>
                                                            {{form.service_door}}
                                                        </div>
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <label class="form-label">categoria</label>
                                                            {{form.category}}
                                                        </div>
                                                        <div class="form-check form-switch mx-3 mt-5">
                                                            <label class="form-check-label">Vehiculo Habilitado</label>
                                                            {{form.status}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <div class="input-group input-group-md input-group-outline my-2">
                                                            <label class="form-label">Terminos</label>
                                                            {{form.terms}}
                                                        </div>
                                                        <div class="input-group input-group-md input-group-outline my-2">
                                                            <label class="form-label">Observaciones</label>
                                                            {{form.comment}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="type-vehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h5 class="">Registrar nuevo tipo</h5>
                            <p class="mb-0">Ingrese el nuevo tipo de vehiculo que sea adecuado para usted</p>
                        </div>
                        <div class="card-body">
                            <div class="input-group input-group-lg input-group-outline my-2">
                                <label class="form-label">Nombre</label>
                                <input v-model="name" type="text" class="form-control" name="name" autocomplete="off">
                            </div>
                            <div class="form-check form-switch">
                                <input v-model="status" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Habilitado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-gradient-primary" @click="register()">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="business" tabindex="-1" role="dialog" aria-labelledby="modalCompany" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="main-content main-lef-margin modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl hm-100 my-2" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="m-0 p-0 btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <i class="material-icons opacity-10">chevron_left</i>
                    </button>
                    <h6 class="modal-title font-weight-normal" id="exampleModalLabel">Registrar nueva empresa</h6>
                    <button class="btn mb-0 me-1 bg-gradient-info" type="submit" @click="RegisterBusiness()">
                        <i class="material-icons opacity-10">check</i>
                        Guardar registro
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content position-relative max-height-vh-100 h-100 ps">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 px-1">
                                <div class="card h-100 ms-2">
                                    <div class="card-header pb-0">
                                        <h6>Logo de la empresa</h6>
                                    </div>
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6 mb-md-0 mb-4 px-1">
                                <div class="card me-2">
                                    <div class="card-header pb-0">
                                        <h6>Datos institucionales</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-11 pe-0">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Nombre de la empresa</label>
                                                    <input type="text" v-model="business_name" class="form-control form-control-lg" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">RUC</label>
                                                    <input type="text" v-model="ruc" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Pagina Web</label>
                                                    <input type="text" v-model="webpage" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-6 p-4">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" v-model="status" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">habilitado Empresa</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 py-2 px-1">
                                <div class="card mx-2">
                                    <div class="card-header pb-0">
                                        <h6>Datos generales</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="input-group input-group-static input-group-sm my-2">
                                                    <label>Fecha de apertura</label>
                                                    <input type="date" v-model="opening_date" class="form-control" autocomplete="off">
                                                </div>
                                                <div class="input-group input-group-static input-group-sm my-2">
                                                    <label>Fecha de registro</label>
                                                    <input type="date" v-model="registration_date" class="form-control" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Direccion</label>
                                                    <input type="text" v-model="address" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Telefono</label>
                                                    <input type="text" v-model="phone" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                                <div class="input-group input-group-dynamic">
                                                    <textarea class="form-control" v-model="business_description" rows="2" placeholder="Descripcion" spellcheck="false"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="dropdown">
                                                    <div class="input-group input-group-sm input-group-outline my-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <label class="form-label">Actividad economica</label>
                                                        <input type="text" v-model="kword" class="form-control form-control-sm" autocomplete="off">
                                                    </div>
                                                    <ul class="dropdown-menu w-100 px-2 py-3" aria-labelledby="dropdownMenuButton">
                                                        <li v-for="activity in economic_activitie" :key="activity.id" @click="addActivity(activity)">
                                                            <a class="dropdown-item border-radius-md" href="javascript:;">{$ activity.heading $}</a>
                                                        </li>
                                                        <li><a class="dropdown-item border-radius-md text-info" href="javascript:;">Agregar nuevo registro</a></li>
                                                    </ul>
                                                </div>
                                                <div class="overflow-auto overflow-y-auto w-lg-auto">
                                                    <span class="badge bg-gradient-secondary p-2 my-1" v-for="list in list_activities">
                                                        <span>{$ list.heading $}</span>
                                                        <!--<button type="button" class="btn text-warning bg-transparent btn-sm mb-0 ms-2 p-1">
                                                            <span class="material-icons">
                                                                close
                                                            </span>
                                                        </button>-->
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="people" tabindex="-1" role="dialog" aria-labelledby="modalCompany" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="main-content main-lef-margin modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl hm-100 my-2" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="m-0 p-0 btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <i class="material-icons opacity-10">chevron_left</i>
                    </button>
                    <h6 class="modal-title font-weight-normal" id="exampleModalLabel">Registrar nueva propietario</h6>
                    <button class="btn mb-0 me-1 bg-gradient-info" type="submit" @click="register()">
                        <i class="material-icons opacity-10">check</i>
                        Guardar registro
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content position-relative max-height-vh-100 h-100 ps">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 px-1">
                                <div class="card h-100 ms-2">
                                    <div class="card-header pb-0">
                                        <h6>Imagen de usuario</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6 mb-md-0 mb-4 px-1">
                                <div class="card me-2">
                                    <div class="card-header pb-0">
                                        <h6>Datos personales</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-md-4 pe-0">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Nombre</label>
                                                    <input type="text" v-model="name" class="form-control form-control-lg" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-4 px-0">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Apellido Paterno</label>
                                                    <input type="text" v-model="first_name" class="form-control form-control-lg" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-4 ps-0">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Apellido Materno</label>
                                                    <input type="text" v-model="last_name" class="form-control form-control-lg" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">DNI</label>
                                                    <input type="text" v-model="dni" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Correo electronico</label>
                                                    <input type="text" v-model="email" class="form-control form-control-sm" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-6 p-4">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" v-model="status" type="checkbox" id="PeopleStatus" checked="">
                                                    <label class="form-check-label" for="PeopleStatus">Usuarios habilitado</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 py-2 px-1">
                                <div class="card mx-2">
                                    <div class="card-header pb-0">
                                        <h6>Datos generales</h6>
                                    </div>
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="input-group input-group-static my-3">
                                                    <label>Fecha de nacimiento</label>
                                                    <input type="date" v-model="birth_date" class="form-control">
                                                </div>
                                                <div class="input-group  input-group-sm input-group-static">
                                                    <label for="exampleFormControlSelect2" class="ms-0">Example multiple select</label>
                                                    <select v-model="sex" class="form-control form-control-sm pb-2" id="exampleFormControlSelect2">
                                                        <option value="1">Masculino</option>
                                                        <option value="2">Femenino</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group input-group-sm input-group-outline my-3">
                                                    <label class="form-label">Direccion</label>
                                                    <input type="text" v-model="address" class="form-control form-control-sm">
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-3">
                                                    <label class="form-label">Telefono</label>
                                                    <input type="text" v-model="phone" class="form-control form-control-sm">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group input-group-dynamic">
                                                    <textarea class="form-control" v-model="profile_information" rows="5" placeholder="Descripcion del usuario" spellcheck="false"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select-single').select2();
    });
</script>
<script src="/static/assets/vue/apps/vehicles/type.vehicles.script.js"></script>
<script src="/static/assets/vue/apps/vehicles/vehicles.script.js"></script>
<script src="/static/assets/vue/apps/business/business.script.js"></script>
<script src="/static/assets/vue/apps/people/people.script.js"></script>
<script src="/static/assets/js/plugins/dropzone.min.js"></script>
{% endblock javascripts %}