{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} {{title.name}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="/static/assets/css/select2.min.css" rel="stylesheet">{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="position-sticky z-index-sticky top-0 me-3 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                <form action="{% url 'user.change.password' %}" id="id_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="eddit">
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'home' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                {{page}}
                            </div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="submit">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="row  justify-content-md-center mt-2">
                            <div class="col-7">
                                <div class="card">
                                    <div class="card-header pb-0">
                                        <div class="row">
                                            <div class="col-lg-6 col-7">
                                                <h6>Acreditados totales</h6>
                                            <p class="text-sm mb-0">
                                                <i class="fa fa-check text-info" aria-hidden="true"></i>
                                                <span class="font-weight-bold ms-1">Ultimo ingreso</span><small>{{request.user.last_login}}</small>
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-3 pb-2 px-5">
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">Contraseña antigua</label>
                                            {{form.old_password|add_class:'form-control'}}
                                        </div>
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">Contraseña Nueva</label>
                                            {{form.new_password1|add_class:'form-control'}}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-xs">Su contraseña no puede asemejarse tanto a su otra información personal.c</li>
                                            <li class="list-group-item text-xs">Su contraseña debe contener al menos 8 caracteres.</li>
                                            <li class="list-group-item text-xs">Su contraseña no puede ser una clave utilizada comúnmente.</li>
                                            <li class="list-group-item text-xs">Su contraseña no puede ser completamente numérica.</li>
                                        </ul>
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">Contraseña Nueva (confirmacion)</label>
                                            {{form.new_password2|add_class:'form-control'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script src="/static/assets/vue/forms.js"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock javascripts %}