{% extends "layouts/base.html" %}

{% block title %} {{title.name}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="/static/assets/css/select2.min.css" rel="stylesheet">{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="position-sticky z-index-sticky top-0 me-3 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                <form action="{% url 'admin.user.update' code %}" id="id_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="edit">
                    {% now "Y-m-d H:m:s" as curren_date %}
                    <input type="hidden" name="date_joined" value="{{curren_date}}">
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'admin.user' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                Nuevo registro
                            </div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="submit">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Datos del  principales</h6>
                                    </div>
                                    <div class="card-body p-3 pt-0">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                {{form.user_photo_path}}
                                            </div>
                                            <div class="col-md-9 col-lg-9">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group input-group-lg input-group-static my-3">
                                                            <label>Nombre de usuario</label>
                                                            {{form.username}}
                                                            <span class="input-group-text" id="basic-addon2">
                                                                <i class="material-icons opacity-10 me-3">account_circle</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group input-group-lg input-group-static my-3">
                                                            <label>Contraseña</label>
                                                            {{form.password}}
                                                            <span class="input-group-text" id="basic-addon2">
                                                                <i class="material-icons opacity-10 me-3">key</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="input-group input-group-sm input-group-static my-2">
                                                            <label>Nombre Completo</label>
                                                            {{form.first_name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="input-group input-group-sm input-group-static my-2">
                                                            <label>DNI</label>
                                                            {{form.dni}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my2">
                                                    <label>Apellidos</label>
                                                    {{form.last_name}}
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="input-group input-group-sm input-group-static my-2">
                                                            <label>Correo electronico</label>
                                                            {{form.email}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="input-group input-group-sm input-group-static my-2">
                                                            <label>Telefono</label>
                                                            {{form.phone}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Configuracion de acceso</h6>
                                    </div>
                                    <div class="card-body p-3 pt-3">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-check form-switch">
                                                    {{form.is_staff}}
                                                    <label class="form-check-label" for="id_is_staff">Es personal</label>
                                                </div>
                                                <div class="form-check form-switch">
                                                    {{form.is_active}}
                                                    <label class="form-check-label" for="id_is_active">El usuairo estara activo</label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="exampleFormControlSelect1" class="ms-0">Seleccionar grupos</label>
                                                    {{form.groups}}
                                                    <button class="btn btn-sm bg-gradient-success mb-0 px-3" type="button"  id="btn-people" data-bs-toggle="modal" data-bs-target="#people">
                                                        <span class="material-icons">
                                                            add
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script src="/static/assets/vue/forms.js"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock javascripts %}