{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4 ps-1">
        <div class="page-header min-height-300 border-radius-md mb-4" id="app">
            <span class="mask bg-transparent opacity-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span class="alert-icon align-middle">
                                <span class="material-icons text-md">
                                    warning
                                </span>
                            </span>
                            <span class="alert-text"><strong>Cuidado!</strong>{{message}}</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {{success_message}}
                <div class="row align-items-center mt-5">
                    <div class="col-md-5 ps-5">
                        <p class="text-xs mb-0">Modulo</p>
                        <h4 class="text-xxl font-weight-normal mb-1 text-capitalize">
                            <span class="display-4">{{title.name}}</span>
                        </h4>
                        <h6 class="text-md font-weight-normal mb-1">
                            <span>{{title.description}}</span>
                        </h6>
                        <a href="{% url 'accreditation.create' %}" class="btn bg-gradient-info">
                            <i class="material-icons opacity-10">add</i>
                            Registrar nuevo
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="bg-transparent border-radius-lg py-3 pe-1">
                            <div class="chart">
                                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <input type="hidden" name="route_search" id="route_search" value="{% url 'business.search' %}?kword=">
        <input type="hidden" name="route_view" id="route_view" value="/business/update/">
        <div class="container px-0" id="table">
            <div class="card border-radius-md">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>{{page}} registrados</h6>
                            <p class="text-sm mb-0">
                                <i class="fa fa-users text-info"></i>
                                <span class="font-weight-bold-ms-1">{{business.count}} Registros</span>
                            </p>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <nav class="navbar shadow-none border-radius-md navbar-expand-lg navbar-light bg-light p-0">
                                <div class="container-fluid px-0">
                                    <button class="navbar-toggler ms-md-auto pe-md-3 nav-link text-body p-0" id="table-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                                        <div class="sidenav-toggler-inner">
                                            <i class="sidenav-toggler-line"></i>
                                            <i class="sidenav-toggler-line"></i>
                                            <i class="sidenav-toggler-line"></i>
                                        </div>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarScroll">
                                        <ul class="navbar-nav ms-md-auto pe-md-3 end-100 my-2 my-lg-0 navbar-tabel" id="icon-process">
                                            <li class="nav-item">
                                                <a class="nav-link disabled" aria-current="page" href="#">
                                                    <span class="material-icons">
                                                        chevron_left
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link disabled" href="#">
                                                    <span class="material-icons">
                                                        chevron_right
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">
                                                    <span class="material-icons">
                                                        history
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-fill z-index-1 p-1" role="tablist" id="icon-views">
                                            <li class="nav-item">
                                                <a  @click="icon_content = true" class="nav-link mb-0 px-2 py-1 active" data-bs-toggle="tab" href="#profile-tabs-simple" role="tab" aria-controls="profile" aria-selected="true" href="#">
                                                    <span class="material-icons">
                                                        format_list_bulleted
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a @click="icon_content = false" class="nav-link mb-0 px-2 py-1" href="#" data-bs-toggle="tab" href="#dashboard-tabs-simple" role="tab" aria-controls="dashboard" aria-selected="false">
                                                    <span class="material-icons">
                                                        apps
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <span class="nav-item">
                                            <a class="nav-link" href="#" id="btn-search">
                                                <span class="material-icons">
                                                    search
                                                </span>
                                            </a>
                                        </span>
                                        <form class="d-flex d-none w-100" id="form-search">
                                            <div class="input-group input-group-outline">
                                                <label class="form-label">Buscar {{title.name}}</label>
                                                <input v-model="kword" type="text" class="form-control">
                                                <button class="btn bg-gradient-secondary mb-0 px-3" type="submit" id="submit-search">
                                                    <span class="material-icons">
                                                        close
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card-body px-2 pb-2 d-flex" v-if="!icon_content">
                {% if accreditation_list %}
                    <ul class="w-100 ps-0" v-if="!list_view">
                        {% for item in accreditation_list %}
                        <li class="list-card">
                            <div class="card card-frame w-100 m-2">
                                <div class="card-body p-0">
                                    <a class="dropdown-item border-radius-md" href="">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                {% if item.status == 'ACREDITADO' %}
                                                    <img src="/static/assets/img/accreditation_check.png" class="avatar avatar-sm me-3">
                                                {% else %}
                                                    {% if item.status == 'PENDIENTE'%}
                                                        <img src="/static/assets/img/accreditation_warning.png" class="avatar avatar-sm me-3">
                                                    {% else %}
                                                        <img src="/static/assets/img/accreditation_less.png" class="avatar avatar-sm me-3">
                                                    {% endif %}
                                                {%endif%}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 crop-text">
                                                    <span class="font-weight-bold">{{item.plate}} - {{item.year_of_production}}</span>
                                                </h6>
                                                <p class="text-xs text-secondary mb-0 crop-text">
                                                    <i class="fa fa-certificate me-1"></i>
                                                    {{ item.route }}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="w-100 ps-0" v-if="!search_content">
                        <li class="list-card" v-for="item in list_user" :key="item.ruc">
                            <div class="card card-frame w-100 m-2">
                                <div class="card-body p-0">
                                    <a class="dropdown-item border-radius-md" href="#" @click="redirec_user(item.ruc)">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="#" class="avatar avatar-sm  me-3 ">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 crop-text">
                                                    <span class="font-weight-bold">{$item.name$} {$item.first_name$} {$item.last_name$}</span>
                                                </h6>
                                                <p class="text-xs text-secondary mb-0 crop-text">
                                                    <i class="fa fa-envelope me-1"></i>
                                                    {$item.email$}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <div class="row mt-5 justify-content-md-center w-100">
                        <div class="col-8">
                            <div class="alert text-center alert-info alert-dismissible fade show" role="alert">
                                <span class="alert-text"><strong>Informe!</strong>No existe ningung registro</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="card-body px-2 pb-2" v-if="icon_content">
                    {% if accreditation_list %}
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acreditaion</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Numero</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Empresa</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Requerimientos</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Inspecciones</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tarjeta</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody v-if="!list_view">
                            {% for item in accreditation_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'accreditation.view' pk=item.id %}">
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if item.status == 'ACREDITADO' %}
                                                    <img src="/static/assets/img/accreditation_check.png" class="avatar avatar-sm me-3">
                                                {% else %}
                                                    {% if item.status == 'PENDIENTE'%}
                                                        <img src="/static/assets/img/accreditation_warning.png" class="avatar avatar-sm me-3">
                                                    {% else %}
                                                    <img src="/static/assets/img/accreditation_less.png" class="avatar avatar-sm me-3">
                                                    {% endif %}
                                                {%endif%}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-xs">{{item.plate}} - {{item.year_of_production}}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ item.route }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 w-1">{{item.permit_number}}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 crop-text">{{item.bussines.business_name}}</p>
                                </td>
                                <td class="align-middle text-left">
                                    <span class="text-secondary text-xs font-weight-normal">
                                        <strong>Legal :</strong>{{item.legal_requirements}} - <br>
                                        <strong>Tecnico : </strong>{{item.technical_requirements}}
                                    </span>
                                </td>
                                <td class="align-middle text-left">
                                    <span class="text-secondary text-xs font-weight-normal">
                                        <strong>Mecanica :</strong>{{item.mechanical_inspection}} - <br>
                                        <strong>seguro : </strong>{{item.insurance}}
                                    </span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    {% if item.accreditation_card == True %}
                                        <span class="badge badge-sm badge-success">Si</span>
                                    {% else %}
                                        <span class="badge badge-sm badge-warning">NO</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 w-1">{{item.insurance}}</p>
                                </td>
                                <td class="align-middle">
                                    <div class="dropdown float-lg-end pe-4">
                                        <button class="btn btn-link text-secondary mb-0 cursor-pointer" id="{{item.dni}}" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-icons">
                                                more_vert
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 position-absolute" aria-labelledby="{{item.dni}}">
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Editar</a></li>
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Eliminar</a></li>
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Ver</a></li>
                                            <li><hr class="horizontal light mt-0 mb-2"></li>
                                            <li><a class="dropdown-item border-radius-md bg-gradient-danger" href="javascript:;">Borrar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tbody v-if="!search_content">
                            <tr v-for="item in list_user" :key="item.dni">
                                <td>
                                    <a href="#"  @click="redirec_user(item.plate)">
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="/static/assets/img/bus.png" class="avatar avatar-sm me-3">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-xs">{$item.plate$}</h6>
                                                <p class="text-xs text-secondary mb-0">{$ item.mark $} {$ item.model $}</p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Manager</p>
                                    <p class="text-xs text-secondary mb-0">Organization</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm badge-success" v-if="item.status">Online</span>
                                    <span class="badge badge-sm badge-secondary" v-if="!item.status">Offline</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-normal">{$item.birth_date$}</span>
                                </td>
                                <td class="align-middle">
                                    <div class="dropdown float-lg-end pe-4">
                                        <button class="btn btn-link text-secondary mb-0 cursor-pointer" :id="item.dni" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-icons">
                                                more_vert
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 position-absolute">
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Editar</a></li>
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Eliminar</a></li>
                                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Ver</a></li>
                                            <li><hr class="horizontal light mt-0 mb-2"></li>
                                            <li><a class="dropdown-item border-radius-md bg-gradient-danger" href="javascript:;">Borrar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                        <div class="row mt-5 justify-content-md-center w-100">
                            <div class="col-8">
                                <div class="alert text-center alert-info alert-dismissible fade show" role="alert">
                                    <span class="alert-text"><strong>Informe!</strong>No existe ningung registro</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_paginated %}
        <div class="card card-body border-radius-md mt-2">
            <div class="card-header pb-0">
                <ul class="pagination pagination-info">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">
                                <span class="material-icons">
                                    keyboard_arrow_left
                                </span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item  {% if page_obj.number == i %} active {% endif %}">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script src="/static/assets/vue/includes/forms.script.js"></script>
<script src="/static/assets/vue/includes/table.script.js"></script>
<script>
    var ctx = document.getElementById("chart-bars").getContext("2d");
    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
                label: "usuarios",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(0, 0, 0, .8)",
                data: [50, 20, 10, 22, 50, 10, 40],
                maxBarThickness: 6
            }, ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
            legend: {
                display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                    color: 'rgba(0, 0, 0, .2)'
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 500,
                    beginAtZero: true,
                    padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    color: "#000"
                },
            },
            x: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                    color: 'rgba(0, 0, 0, .2)'
                },
                ticks: {
                    display: true,
                    color: '#000',
                    padding: 10,
                    font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                        },
                    }
                },
            },
        },
    });
</script>
{% endblock javascripts %}