{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/select2.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="position-sticky z-index-sticky top-0 me-3 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                {{error_message}}
                <form action="{% url 'accreditation.update' pk=pk %}" id="id_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="update">
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'business.index' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                Actualizar registro {{pk}}
                                <input type="hidden" name="id" id="id_id" value="{{pk}}">
                            </div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-flex d-none">
                                    <li class="nav-item d-none">
                                        <a href="#" class="btn me-1 bg-gradient-success" type="button">
                                            <i class="material-icons opacity-10">sync_alt</i>
                                            Sincronizar datos
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="submit">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="row my-3">
                            <div class="col-md-4">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Datos del  principales </h6>
                                    </div>
                                    <div class="card-body p-3 pt-0">
                                        <div class="input-group input-group-lg input-group-outline mb-4">
                                            <label class="form-label">Número de permiso o TAPSIT</label>
                                            {{form.permit_number}}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <label class="ms-0">Tipo de acreditacion</label>
                                            {{form.type}}
                                            <button class="btn btn-sm bg-gradient-success mb-0 px-3" type="button" id="type-modal" data-bs-toggle="modal" data-bs-target="#type-accreditation">
                                                <span class="material-icons">
                                                    add
                                                </span>
                                            </button>
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <label>Tipologia</label>
                                            {{form.typology}}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <label>Placa vehicular</label>
                                            {% if accreditation %}
                                                <input type="text" name="plate" id="id_plate" value="{{accreditation.plate}}" class="form-control" readonly>
                                            {% else %}
                                                {{form.plate}}
                                            {% endif %}
                                        </div>
                                        <div class="input-group input-group-sm input-group-static mb-4">
                                            <label>Año de produccion</label>
                                            {% if procedure %}
                                                <input type="text" name="year_of_production" id="id_year_of_production" value="{{procedure.license_plate.year_of_production}}" class="form-control" readonly>
                                            {% else %}
                                                {{form.year_of_production}}
                                            {% endif %}
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <label>Ruta</label>
                                            {% if accreditation %}
                                                <input type="hidden" name="route" id="id_route" value="{{accreditation.route_id}}" readonly>
                                                <input type="text" name="route_name" id="id_route_name" value="{{accreditation.route.route}} - {{accreditation.route.concession}}" class="form-control" readonly>
                                            {% else %}
                                                {{form.route}}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Datos del  generales</h6>
                                    </div>
                                    <div class="card-body p-3 pt-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4  is-valid">
                                                    <label>Requerimientos legales</label>
                                                    {{form.legal_requirements}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Requerimientos Tecnico</label>
                                                    {% if procedure %}
                                                        <input name="technical_requirements" id="id_technical_requirements" class="form-control" type="text" value="{{ technical_requirements }}">
                                                    {% else %}
                                                        {{form.technical_requirements}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Inspeccion mecanica</label>
                                                    {% if procedure %}
                                                        <input name="mechanical_inspection" id="id_mechanical_inspection" class="form-control" type="text" value="{{ mechanical_inspection }}">
                                                    {% else %}
                                                        {{form.mechanical_inspection}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label>Seguro</label>
                                                    {% if procedure %}
                                                        <input name="insurance" id="id_insurance" class="form-control" type="text" value="{{insurance}}">
                                                    {% else %}
                                                        {{form.insurance}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group input-group-static mb-4">
                                            <label>Empresa</label>
                                            {% if procedure %}
                                                <input type="hidden" name="bussines" id="id_bussines" value="{{procedure.license_plate.business_id}}" readonly>
                                                <input type="text" name="bussines_name" id="id_route_name" value="{{procedure.license_plate.business}}" class="form-control" readonly>
                                            {% else %}
                                                {{form.bussines}}
                                            {% endif %}
                                        </div>
                                        <div class="input-group input-group-dynamic">
                                            <label>Observaciones</label>
                                            {{form.remark}}
                                        </div>
                                        <div class="form-check">
                                            {{form.accreditation_card}}
                                            <label class="custom-control-label" for="customCheck1">Targeta de acreditacion</label>
                                        </div>
                                        <div class="form-check">
                                            {{form.enabled}}
                                            <label class="custom-control-label" for="customCheck1">habilitado</label>
                                        </div>
                                        <div class="form-check">
                                            <label>Estado</label>
                                            {{form.status}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script src="/static/assets/js/plugins/dropzone.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script src="/static/assets/vue/forms.js"></script>
<script>
    $(document).ready(function() {
        $('.select-single').select2();
    });
</script>
{% endblock javascripts %}