{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4 ps-1">
        <div class="bg-light max-height-vh-90">
            <div class="content">
                <div class="container position-sticky z-index-sticky top-0 me-5 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                    <form action="{% url 'validate.create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                            <div class="container-fluid ps-2 pe-0">
                                <a href="{% url 'validate.index' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                    <i class="material-icons opacity-10">close</i>
                                </a>
                                <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                    Nuevo registro
                                </div>
                                <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon mt-2">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navigation">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item">
                                        </li>
                                    </ul>
                                    <ul class="navbar-nav d-lg-block d-none">
                                        <li class="nav-item">
                                            <button class="btn me-1 bg-gradient-info" type="submit">
                                                <i class="material-icons opacity-10">check</i>
                                                Guardar registro
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="row justify-content-md-center">
                            <div class="col-7">
                                <div class="content position-relative mt-4 max-height-vh-100 h-100 ps-1">
                                    <div class="card me-2">
                                        <div class="card-header pb-0">
                                            <h6>Buscar Placa</h6>
                                        </div>
                                        <div class="card-body pt-4">
                                            <div >
                                                <small>
                                                    Para iniciar un registro nuevo registro ingrese una placa de vehiculo para poder continuar con el registro.
                                                </small>
                                            </div>
                                            <div class="input-group input-group-lg input-group-addon input-group-outline my-4">
                                                <label class="form-label">Buscar placa</label>
                                                <input type="text" class="form-control">
                                                <button class="btn bg-gradient-secondary mb-0 px-3" type="submit" id="submit-search">
                                                    <span class="material-icons">
                                                        search
                                                    </span>
                                                </button>
                                            </div>
                                            <div class=" mb-4">
                                                <small>
                                                    En caso de que la placa que ingreso no existe, registre un nuevo vehiculo mediante el <a class="link-info" href="{% url 'vehicles.create' %}">siguiente enlace</a> .
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>
{% endblock javascripts %}