{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="/static/assets/css/select2.min.css" rel="stylesheet">{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4 ps-1">
        <div class="bg-light max-height-vh-90">
            <div class="content">
                <div class="container position-sticky z-index-sticky top-0 me-5 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                    <div class="row justify-content-md-center" id="operations">
                        <div class="col-12">
                            <div class="content position-relative mt-4 max-height-vh-100 h-100 ps-1">
                                {% csrf_token %}
                                <div class="card me-2">
                                    <div class="card-header text-uppercase pb-3">
                                        <div class="row">
                                            <div class="col-lg-6 col-7">
                                                <h6>placa n°: {{unit.plate}}</h6>
                                            <p class="text-sm mb-0">
                                                <i class="fa fa-check text-info" aria-hidden="true"></i>
                                                <span class="font-weight-bold ms-1">{{unit.business}}</span>
                                            </p>
                                            </div>
                                            <div class="col-lg-6 col-5 my-auto text-end">
                                                {% if procedure %}
                                                    <i class="fa fa-folder-plus me-2 text-secondary" aria-hidden="true"></i>
                                                    Expediente N° {{procedure.proceedings}}
                                                {% else %}
                                                    <i class="fa fa-folder-plus me-2 text-secondary" aria-hidden="true"></i>
                                                    Nuevo Expediente
                                                {% endif%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row my-4 justify-content-md-center">
                                            <div class="col-md-2">
                                                <div class="card" data-animation="true">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                        <div class="icon icon-lg icon-shape {{soat.class}} shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                            <i class="material-icons opacity-10">{{soat.icon}}</i>
                                                        </div>
                                                        <a class="d-block blur-shadow-image">
                                                            <img src="/static/assets/img/law.png" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                                        </a>
                                                        <div class="colored-shadow" style="background-image: url(&quot;/static/assets/img/law.png&quot;);"></div>
                                                    </div>
                                                    <div class="card-body text-center px-2">
                                                        <div class="d-flex mt-n6 mx-auto">
                                                            <a class="btn btn-link text-success ms-auto border-0" title="Crear" id="btn-soat" data-bs-toggle="modal" data-bs-target="#soat_form">
                                                                <i class="material-icons text-lg" data-bs-toggle="tooltip" data-bs-placement="bottom">add</i>
                                                            </a>
                                                            <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar" type="button">
                                                                <i class="material-icons text-lg">edit</i>
                                                            </button>
                                                        </div>
                                                        <h5 class="font-weight-normal mt-3">
                                                            <a href="javascript:;">Validacion Legal</a>
                                                        </h5>
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    {% if soat.data %}
                                                        <div class="card-footer text-center">
                                                            <strong class="d-block">{{soat.message}}</strong>
                                                            <h6 class="mx-n3 mt-3 mb-0 text-uppercase text-xxs d-block text-dark font-weight-bolder opacity-8">Fecha de vencimiento</h6>
                                                            <small class="text-xs w-100 text-center">{{soat.data.date_expiry}}</small>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card" data-animation="true">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                        <div class="icon icon-lg icon-shape  {{citv.class}} shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                            <i class="material-icons opacity-10"> {{citv.icon}}</i>
                                                        </div>
                                                        <a class="d-block blur-shadow-image">
                                                            <img src="/static/assets/img/technician.png" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                                        </a>
                                                        <div class="colored-shadow" style="background-image: url(&quot;/static/assets/img/technician.png&quot;);"></div>
                                                    </div>
                                                    <div class="card-body text-center px-2">
                                                        <div class="d-flex mt-n6 mx-auto">
                                                            <a class="btn btn-link text-success ms-auto border-0" id="btn-citv" data-bs-toggle="modal" data-bs-target="#citv_form">
                                                                <i class="material-icons text-lg">add</i>
                                                            </a>
                                                            <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                                                <i class="material-icons text-lg">edit</i>
                                                            </button>
                                                        </div>
                                                        <h5 class="font-weight-normal mt-3">
                                                            <a href="javascript:;">Validacion tecnica</a>
                                                        </h5>
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    {% if citv.data %}
                                                    <div class="card-footer">
                                                        <strong>{{citv.message}}</strong>
                                                        <h6 class="mx-n3 mt-3 mb-0 text-uppercase text-xxs d-block text-dark font-weight-bolder opacity-8">Fecha de vencimiento</h6>
                                                        <small class="text-xs w-100 text-center">{{citv.data.expiration_date}}</small>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card" data-animation="true">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                        <div class="icon icon-lg icon-shape {{src.class}} shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                            <i class="material-icons opacity-10">{{src.icon}}</i>
                                                        </div>
                                                        <a class="d-block blur-shadow-image">
                                                            <img src="/static/assets/img/umbrella.webp" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                                        </a>
                                                        <div class="colored-shadow" style="background-image: url(&quot;/static/assets/img/umbrella.webp;);"></div>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <div class="d-flex mt-n6 mx-auto">
                                                            <a class="btn btn-link text-success ms-auto border-0" id="btn-seg" data-bs-toggle="modal" data-bs-target="#src_form">
                                                                <i class="material-icons text-lg">add</i>
                                                            </a>
                                                            <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                                                <i class="material-icons text-lg">edit</i>
                                                            </button>
                                                        </div>
                                                        <h5 class="font-weight-normal mt-3">
                                                            <a href="javascript:;">Seguros SRC</a>
                                                        </h5>
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    {% if src.data %}
                                                    <div class="card-footer">
                                                        <strong>{{src.message}}</strong>
                                                        <h6 class="mx-n3 mt-3 mb-0 text-uppercase text-xxs d-block text-dark font-weight-bolder opacity-8">Fecha de vencimiento</h6>
                                                        <small class="text-xs w-100 text-center">{{src.data.date_expiry}}</small>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card" data-animation="true">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                        <div class="icon icon-lg icon-shape {{svct.class}} shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                            <i class="material-icons opacity-10">{{svct.icon}}</i>
                                                        </div>
                                                        <a class="d-block blur-shadow-image">
                                                            <img src="/static/assets/img/insurance.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                                        </a>
                                                        <div class="colored-shadow" style="background-image: url(&quot;/static/assets/img/insurance.jpg&quot;);"></div>
                                                    </div>
                                                    <div class="card-body text-center px-2">
                                                        <div class="d-flex mt-n6 mx-auto">
                                                            <a class="btn btn-link text-success ms-auto border-0" id="btn-seg" data-bs-toggle="modal" data-bs-target="#svct_form">
                                                                <i class="material-icons text-lg">add</i>
                                                            </a>
                                                            <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                                                <i class="material-icons text-lg">edit</i>
                                                            </button>
                                                        </div>
                                                        <h5 class="font-weight-normal mt-3">
                                                            <a href="javascript:;">Seguros SVCT</a>
                                                        </h5>
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    {% if svct.data %}
                                                        <div class="card-footer">
                                                            <strong>{{svct.message}}</strong>
                                                            <h6 class="mx-n3 mt-3 mb-0 text-uppercase text-xxs d-block text-dark font-weight-bolder opacity-8">Fecha de vencimiento</h6>
                                                            <small class="text-xs w-100 text-center">{{svct.data.date_expiry}}</small>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card" data-animation="true">
                                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                        <div class="icon icon-lg icon-shape {{cont.class}} shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                            <i class="material-icons opacity-10">{{cont.icon}}</i>
                                                        </div>
                                                        <a class="d-block blur-shadow-image">
                                                            <img src="/static/assets/img/contrat.png" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                                        </a>
                                                        <div class="colored-shadow" style="background-image: url(&quot;/static/assets/img/contrat.png&quot;);"></div>
                                                    </div>
                                                    <div class="card-body text-center px-2">
                                                        <div class="d-flex mt-n6 mx-auto">
                                                            <a class="btn btn-link text-success ms-auto border-0" id="btn-seg" data-bs-toggle="modal" data-bs-target="#contracts">
                                                                <i class="material-icons text-lg">add</i>
                                                            </a>
                                                            <button class="btn btn-link text-info me-auto border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                                                <i class="material-icons text-lg">edit</i>
                                                            </button>
                                                        </div>
                                                        <h5 class="font-weight-normal mt-3">
                                                            <a href="javascript:;">Contratos</a>
                                                        </h5>
                                                    </div>
                                                    <hr class="dark horizontal my-0">
                                                    {% if cont.data %}
                                                    <div class="card-footer">
                                                        <strong>{{cont.message}}</strong>
                                                        <h6 class="mx-n3 mt-3 mb-0 text-uppercase text-xxs d-block text-dark font-weight-bolder opacity-8">Fecha de vencimiento</h6>
                                                        <small class="text-xs w-100 text-center">{{cont.data.due_date}}</small>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if unit.plate %}
                                            {% if procedure %}
                                                <a href="{% url 'validate.update.proceeding' pk=procedure.id %}" class="btn bg-gradient-success btn-lg w-100 text-uppercase {{disable}}"> Actualizar el tramite</a>
                                            {% else %}
                                                <a href="{% url 'procedure.register' pk=pk %}" class="btn bg-gradient-info btn-lg w-100 text-uppercase {{disable}}"> Continuar con el tramite</a>
                                            {% endif %}
                                        {% else %}
                                            <div class="alert alert-warning" role="alert">
                                                <span class="alert-icon align-middle">
                                                    <span class="material-icons text-md">
                                                    warning
                                                    </span>
                                                </span>
                                                <span class="alert-text"><strong>Cuidado!</strong> El vehiculo no esta observado desea continuar? </span>
                                            </div>
                                            <div class="text-center">
                                                <a href="{% url 'procedure.register' pk=pk %}" class="btn bg-gradient-danger btn-lg w-40 text-uppercase">si </a>
                                                <a href="{% url 'vehicles.update' pk=pk %}" class="btn bg-gradient-success btn-lg w-40 text-uppercase">Corregir </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer bg-warning text-white" v-if="footer">
                                        hola mundo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="soat_form" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'certify.create.soat' key=contract %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Registrar nuevo SOAT</h5>
                                <p class="mb-0">Ingrese los datos necesarios para el registro del SOAT</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Cargar archivo</h6>
                                            </div>
                                            <div class="card-body p-3"  >
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        {{forms.SOAT_F.file}}
                                                    </div>
                                                </div>
                                                <div class="form-check form-switch mt-4">
                                                    {{forms.SOAT_F.status}}
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">SOAT habilitado</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Vigencia de la poliza</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">N° de seguro</label>
                                                    {{ forms.SOAT_F.policy}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Certificado</label>
                                                    {{ forms.SOAT_F.certify}}
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group input-group-ms input-group-static my-2">
                                                            <label>Fecha de registro</label>
                                                            {{ forms.SOAT_F.registration_date}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group input-group-ms input-group-static my-2">
                                                            <label>Fecha de caducidad</label>
                                                            {{ forms.SOAT_F.date_expiry}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-lg input-group-static my-2">
                                                    <label>Aseguradora</label>
                                                    {{ forms.SOAT_F.insurance_company}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="card h-100">
                                            <div class="card-header pb-0">
                                                <h6>Vehículo asegurado</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="row">
                                                    <input type="hidden" name="vehicles" value="{{unit.plate}}">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <small>Placa del vehiculo</small>
                                                            <h5>{{unit.plate}}</h5>
                                                        </div>
                                                        <div>
                                                            <small>Categoria</small>
                                                            <h5>{{unit.category}}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <label class="form-label">Vin / N° de serie</label>
                                                            {{ forms.SOAT_F.vin_serie}}
                                                        </div>
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <label class="form-label">Importe Prima</label>
                                                            {{ forms.SOAT_F.amount}}
                                                        </div>
                                                        <div class="input-group input-group-sm input-group-outline my-2">
                                                            <label class="form-label">Numero</label>
                                                            {{ forms.SOAT_F.number}}
                                                        </div>
                                                    </div>
                                                    <hr class="dark horizontal my-2">
                                                    <div class="overflow-auto overflow-y-auto w-100">
                                                        {% if unit.owners.count > 0 %}
                                                            {% for user in unit.owners.all %}
                                                                <span class="chk-result badge bg-gradient-secondary py-1 mx-1">
                                                                    <input type="checkbox" class="d-none" id="id_owners_{{ forloop.counter0 }}" name="owners" value="{{user.dni}}" checked="checked">
                                                                    <span>{{user.name}} {{user.first_name}} {{user.last_name}}</span>
                                                                    <!--<button type="button" class="btn text-warning bg-transparent btn-sm mb-0 ms-2 p-1">
                                                                        <span class="material-icons">
                                                                            close
                                                                        </span>
                                                                    </button>-->
                                                                </span>
                                                            {% endfor %}
                                                        {% else %}
                                                            <div class="alert alert-warning alert-dismissible text-white fade show pb-2" role="alert">
                                                                <span class="alert-icon align-middle">
                                                                    <span class="material-icons text-md">
                                                                        warning
                                                                    </span>
                                                                </span>
                                                                <span class="alert-text text-xxs">
                                                                    <strong>Cuidado!</strong>
                                                                    <p class="text-sm ms-3">No va a poder continuar si no tiene registrado el propietario del vehiculo!
                                                                        <br>click <a href="{% url 'vehicles.update' unit.plate %}" target="_blank">aqui</a> para vincular con un propietario
                                                                    </p>
                                                                </span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="button" class="btn btn-link bg-gradient-secondary mb-0" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn bg-gradient-primary mb-0">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="citv_form" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'certify.create.citv'  key=contract %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="vehicle" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Registrar nuevo CITV</h5>
                                <p class="mb-0">Ingrese los datos necesarios para el registro del SOAT</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos Generales</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">N° identificador</label>
                                                    {{ forms.CITV_F.id}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-outline my-2">
                                                    <label class="form-label">Tipo de Inspeccion</label>
                                                    {{ forms.CITV_F.Type_of_inspection}}
                                                </div>
                                                <div class="input-group input-group-ms input-group-static my-2">
                                                    <label>Fecha de registro</label>
                                                    {{ forms.CITV_F.Registration_date}}
                                                </div>
                                                <div class="input-group input-group-ms input-group-static my-2">
                                                    <label>Fecha de caducidad</label>
                                                    {{ forms.CITV_F.expiration_date}}
                                                </div>
                                                <hr class="dark horizontal my-lg-3">
                                                <div class="input-group input-group-ms input-group-static my-2">
                                                    <label>Tipo de servicio</label>
                                                    {{ forms.CITV_F.type_service}}
                                                </div>
                                                <div class="input-group input-group-ms input-group-static my-2">
                                                    <label>Alcanse</label>
                                                    {{ forms.CITV_F.scope}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Cargar archivo</h6>
                                            </div>
                                            <div class="card-body p-3"  >
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        {{forms.CITV_F.file}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check form-switch mt-2">
                                                        {{forms.CITV_F.status}}
                                                        <label class="form-check-label" for="flexSwitchCheckDefault">CITV habilitado</label>
                                                    </div>
                                                    <div class="form-check form-switch mt-2">
                                                        {{forms.CITV_F.status}}
                                                        <label class="form-check-label" for="flexSwitchCheckDefault">Inspeccion&nbsp;aprobada</label>
                                                    </div>
                                                    <div class="input-group input-group-dynamic mt-2">
                                                        {{forms.CITV_F.comment}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="button" class="btn btn-link bg-gradient-secondary mb-0" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn bg-gradient-primary mb-0">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="src_form" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-body">
                            <form action="{% url 'certify.create.src' key=contract  %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="vehicles" value="{{unit.plate}}">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Cargar archivo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        {{forms.SRC_F.file}}
                                                    </div>
                                                </div>
                                                <input type="hidden" name="vehicle" value="{{unit.plate}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos Generales</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Nombre</label>
                                                    {{ forms.SRC_F.name}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de registro</label>
                                                    {{forms.SRC_F.registration_date}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de caducidad</label>
                                                    {{forms.SRC_F.date_expiry}}
                                                </div>
                                                <div class="form-check form-switch mt-2">
                                                    {{forms.SRC_F.status}}
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Inspeccion&nbsp;aprobada</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-link bg-gradient-secondary mb-0" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-gradient-primary mb-0">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="svct_form" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-body">
                            <form action="{% url 'certify.create.svct' key=contract  %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="vehicles" value="{{unit.plate}}">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Cargar archivo</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        {{forms.SVCT_F.file}}
                                                    </div>
                                                </div>
                                                <input type="hidden" name="vehicles" value="{{unit.plate}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos Generales</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline my-2">
                                                    <label class="form-label">Nombre</label>
                                                    {{ forms.SVCT_F.name}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de registro</label>
                                                    {{forms.SVCT_F.registration_date}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de caducidad</label>
                                                    {{forms.SVCT_F.date_expiry}}
                                                </div>
                                                <div class="form-check form-switch mt-2">
                                                    {{forms.SVCT_F.status}}
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Inspeccion&nbsp;aprobada</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-link bg-gradient-secondary mb-0" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-gradient-primary mb-0">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contracts" tabindex="-1" role="dialog" aria-labelledby="SOATModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-sm modal-dialog-centered" role="document">
            <div class="modal-content blur-dark">
                <div class="modal-body p-0">
                    <form action="{% url 'procedure.contract.create' plate=unit.plate %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="vehicle" value="{{unit.plate}}">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h5 class="">Registrar nueva contrato</h5>
                                <p class="mb-0">Ingrese los datos necesarios para el registro nueva RUTA</p>
                                <button class="btn me-1 bg-gradient-info d-flex align-self-end float-end mt-n6" type="submit">
                                    <i class="material-icons opacity-10">check</i>
                                    Guardar registro
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Datos del contrato</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="input-group input-group-lg input-group-outline mt-0 mb-3">
                                                    <label class="form-label">Codigo del contrato</label>
                                                    {{forms.CONT_F.code}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label >Fecha de registro</label>
                                                    {{forms.CONT_F.registration_date}}
                                                </div>
                                                <div class="input-group input-group-sm input-group-static my-3">
                                                    <label>Fecha de vencimiento</label>
                                                    {{forms.CONT_F.due_date}}
                                                </div>
                                                <div class="form-check form-switch">
                                                    {{forms.CONT_F.status}}
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Contrato vigente</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 px-1">
                                        <div class="card h-100 ms-2">
                                            <div class="card-header pb-0">
                                                <h6>Subir documento</h6>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="form-control border dropzone" id="dropzone">
                                                    <div class="fallback">
                                                        {{forms.CONT_F.document}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select-single').select2();
    });
</script>
<script src="/static/assets/vue/apps/validate/validate.operation.script.js"></script>
<script src="/static/assets/js/plugins/dropzone.min.js"></script>
{% endblock javascripts %}