{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/select2.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid p-1">
        <div class="bg-light max-height-vh-90">
            <div class="position-sticky z-index-sticky top-0 me-3 scrollspy-example" data-bs-spy="scroll" data-bs-offset="0">
                <form action="{% url 'business.update' pk=pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <nav class="navbar shadow-lg rounded navbar-expand-lg z-index-3 position-fixed w-form pt-4 blur-gradient-primary start-0 end-0 mx-0 bg-light">
                        <div class="container-fluid ps-2 pe-0">
                            <a href="{% url 'business.index' %}" class="btn btn-link px-1 me-3" @click="$emit('close')">
                                <i class="material-icons opacity-10">close</i>
                            </a>
                            <div class="navbar-brand font-weight-bolder ms-lg-0 ms-3 brand-form">
                                Actualizar registro N° {{pk}}
                                <input type="hidden" name="ruc" id="id_ruc" value="{{pk}}">
                            </div>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <button class="btn me-1 bg-gradient-info" type="submit">
                                            <i class="material-icons opacity-10">check</i>
                                            Guardar registro
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Datos del  principales</h6>
                                    </div>
                                    <div class="card-body p-3 pt-0">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                {{form.logo_small_path}}
                                            </div>
                                            <div class="col-md-9 col-lg-9">
                                                <div class="input-group input-group-lg input-group-static my-3">
                                                    <label>Razon social</label>
                                                    {{form.business_name}}
                                                </div>
                                                <div class="row my-0 py-0">
                                                    <div class="col-md-6">
                                                        <div class="input-group  input-group-sm input-group-static my-3">
                                                            <label>Nombre Corto</label>
                                                            {{form.small_name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-check form-switch">
                                                            {{form.status}}
                                                            <label class="form-check-label" for="flexSwitchCheckDefault">habilitado Empresa</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="horizontal light mt-0 mb-3">
                                                <div class="input-group  input-group-sm input-group-static my-3">
                                                    <label>Direccion</label>
                                                    {{form.address}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card h-100 mt-2">
                            <div class="card-header pb-0">
                                <h6>Datos del  generales</h6>
                            </div>
                            <div class="card-body p-3 pt-0">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Telefono</label>
                                            {{form.phone}}
                                        </div>
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Pagina web</label>
                                            {{form.webpage}}
                                        </div>
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Localizacion geografica</label>
                                            {{form.geographic_location}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Fecha de registro</label>
                                            {{form.registration_date}}
                                        </div>
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Fecha de apertura</label>
                                            {{form.opening_date}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm input-group-static my-3">
                                            <label>Descripcion</label>
                                            {{form.business_description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 mb-4">
                            <div class="col-md-6">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Logo segundario</h6>
                                        <p class="text-sm mb-0">
                                            Este logo sera utilizado para diferentes funciones y vistas para el sistema
                                        </p>
                                    </div>
                                    <div class="card-body my-4 p-3 pt-0">
                                        {{form.logo_large_path}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card h-100">
                                    <div class="card-header pb-0">
                                        <h6>Actividad economica</h6>
                                        <p class="text-sm mb-0">
                                            Seleccione una o varias opciones que son necesarias para la seleccion de la actividad economicas
                                        </p>
                                    </div>
                                    <div class="card-body p-3 pt-0">
                                        <div class="input-group input-group-static my-4">
                                            {{form.economic_activitie}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<script src="/static/assets/js/plugins/dropzone.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select-single').select2();
    });
</script>
{% endblock javascripts %}