{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <script src="/static/libs/Highcharts/highcharts.js"></script>
    <script src="/static/libs/Highcharts/modules/exporting.js"></script>
    <script src="/static/libs/Highcharts/modules/export-data.js"></script>
    <script src="/static/libs/Highcharts/modules/accessibility.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl position-absolute">
                        <i class="material-icons opacity-10">directions_bus</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total de Vehiculos</p>
                        <h4 class="mb-0">{{vehicle.count}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Generar reporte</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total de usuarios</p>
                        <h4 class="mb-0">{{people.count}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Generar reporte</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl position-absolute">
                        <i class="material-icons opacity-10">business</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total clientes</p>
                        <h4 class="mb-0">{{business.count}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">generar reporte</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl position-absolute">
                        <i class="material-icons opacity-10">workspace_premium</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Validados</p>
                        <h4 class="mb-0">{{validation.count}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Generar reporte </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-9 col-md-9 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Acreditados totales</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-check text-info" aria-hidden="true"></i>
                            <span class="font-weight-bold ms-1">30 done</span> this month
                        </p>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <div class="dropdown float-lg-end pe-4">
                                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-secondary"></i>
                                </a>
                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-3 pb-2">
                    <div id="char-accreditation"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            {% for item in accreditation %}
            <div class="card mb-4">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-{{item.color}} shadow-info text-center border-radius-xl position-absolute">
                        <i class="material-icons opacity-10">{{item.icon}}</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-{{item.color}} text-capitalize">Total {{item.name}}</p>
                        <h4 class="mb-0">{{item.count}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <a href="{{item.link}}{{item.name}}">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Listar resultado </span></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    Highcharts.chart('char-accreditation', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'REPORTE DE UNIDADES VEHICULARES EN PROCESO DE ACREDITACIÓN  A LA FECHA'
        },
        subtitle: {
            text: 'Reporte por Concesion'
        },
        xAxis: {
            categories: [
            "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11"
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Unidades Vehiculos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Uni.</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: {{graph_accreditation_with_consesion|safe}}
    });
</script>
{% endblock%}