{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex px-2 py-1">
                                <div class="me-3">
                                    <img src="/static/assets/img/bus.png" class="avatar avatar-sm my-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h5 class="mb-0">Placa Nro: {{vehicle.plate}}</h5>
                                    <p class="text-sm text-secondary mb-0">{{ vehicle.mark }} {{ vehicle.model }} - {{vehicle.year_of_production}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header p-3 pt-2">
                                            <div class="text-center pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Alto</p>
                                                <h4 class="mb-0">{{vehicle.height}}<small class="text-xxs text-grey">Mtr</small></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header p-3 pt-2">
                                            <div class="text-center pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Ancho</p>
                                                <h4 class="mb-0">{{vehicle.broad}}<small class="text-xxs text-grey">Mtr</small></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header p-3 pt-2">
                                            <div class="text-center pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Largo</p>
                                                <h4 class="mb-0">{{vehicle.longitude}}<small class="text-xxs text-grey">Mtr</small></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header p-3 pt-2">
                                            <div class="text-center pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Puertas</p>
                                                <h4 class="mb-0">{{vehicle.service_door}}<small class="text-xxs text-grey">Mtr</small></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dark horizontal my-3">
                    <div class="d-flex text-center w-100">
                        {{vehicle.business.business_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            {% now "Y-m-d" as todays_date %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-3">
                    {% if validation.soat_status == 'VIGENTE' %}
                        <div class="card">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape bg-gradient-success shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        gavel
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Validacion legal</p>
                                    <h4 class="mb-0">{{validation.soat.policy}}</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer {{validation.soat.get_label_expired}} p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{validation.soat.date_expiry|date:"d M, Y"}} </span><i class="text-xxs">Fecha de vencimineto</i></p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card opacity-5">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape opacity-5 bg-gradient-secondary shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        gavel
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Validacion legal</p>
                                    <h4 class="mb-0">
                                        <div class="timeline-item float-end w-60">
                                            <div class="animated-background">&nbsp;</div>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer p-0">
                                <p class="m-2">
                                    <div class="timeline-item w-80 ms-2">
                                        <div class="animated-background">&nbsp;</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-12 mb-3">
                    {% if validation.citv_status == 'VIGENTE' %}
                        <div class="card">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        build_circle
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Validacion tecnica</p>
                                    <h4 class="mb-0">{{validation.citv.id}}</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer {{validation.citv.get_label_expired}} p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{validation.citv.expiration_date|date:"d M, Y"}} </span><i class="text-xxs">Fecha de vencimineto</i></p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card opacity-5">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape opacity-5 bg-gradient-secondary shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        build_circle
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Validacion Tecnica</p>
                                    <h4 class="mb-0">
                                        <div class="timeline-item float-end w-60">
                                            <div class="animated-background">&nbsp;</div>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer p-0">
                                <p class="m-2">
                                    <div class="timeline-item w-80 ms-2">
                                        <div class="animated-background">&nbsp;</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-6 col-md-6 col-12">
                    {% if validation.src_status == 'VIGENTE' %}
                    <div class="card">
                        <div class="card-header p-3 py-2">
                            <div class="icon icon-lg icon-shape bg-gradient-warning shadow text-center border-radius-xl position-absolute">
                                <i class="material-icons text-white opacity-10">
                                    admin_panel_settings
                                </i>
                            </div>
                            <div class="text-end pt-1">
                                <p class="text-sm mb-0 text-capitalize">Seguros SRC</p>
                                <h4 class="mb-0">{{validation.src.name}}</h4>
                            </div>
                        </div>
                        <hr class="dark horizontal my-0">
                        <div class="card-footer {{validation.src.get_label_expired}} p-3">
                            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{validation.src.date_expiry|date:"d M, Y"}} </span><i class="text-xxs">Fecha de vencimineto</i></p>
                        </div>
                    </div>
                    {% else %}
                        <div class="card opacity-5">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape opacity-5 bg-gradient-secondary shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        admin_panel_settings
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Seguros SRC</p>
                                    <h4 class="mb-0">
                                        <div class="timeline-item float-end w-60">
                                            <div class="animated-background">&nbsp;</div>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer p-0">
                                <p class="m-2">
                                    <div class="timeline-item w-80 ms-2">
                                        <div class="animated-background">&nbsp;</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
                    {% if validation.svct_status == 'VIGENTE' %}
                        <div class="card">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape bg-gradient-danger shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        health_and_safety
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">seguros SVCT</p>
                                    <h4 class="mb-0">{{validation.svct.name}}</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="card-footer {{validation.src.get_label_expired}} p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{validation.svct.date_expiry|date:"d M, Y"}} </span><i class="text-xxs">Fecha de vencimineto</i></p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card opacity-5">
                            <div class="card-header p-3 py-2">
                                <div class="icon icon-lg icon-shape opacity-5 bg-gradient-secondary shadow text-center border-radius-xl position-absolute">
                                    <i class="material-icons text-white opacity-10">
                                        health_and_safety
                                    </i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">seguros SVCT</p>
                                    <h4 class="mb-0">
                                        <div class="timeline-item float-end w-60">
                                            <div class="animated-background">&nbsp;</div>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-1">
                            <div class="card-footer p-0">
                                <p class="m-2">
                                    <div class="timeline-item w-80 ms-2">
                                        <div class="animated-background">&nbsp;</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-4 mt-lg-0">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Estado del vehiculo</h6>
                </div>
                <div class="card-body pb-0 p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                            <div class="d-flex w-100">
                                <div class="m-2">
                                    {% if validation.enabled == 'ACEPTADO' %}
                                        <i class="material-icons text-success opacity-10">
                                            check_circle
                                        </i>
                                    {% else %}
                                        {% if validation.enabled == 'RECHAZADO' %}
                                            <i class="material-icons text-danger opacity-10">
                                                cancel
                                            </i>
                                        {% else %}
                                            {% if validation.enabled == 'OBSERVADO' %}
                                                <i class="material-icons text-warning opacity-10">
                                                    error
                                                </i>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="ms-1 w-100">
                                    <div class="d-flex mb-2">
                                        <span class="me-2 text-sm text-capitalize">Validacion - {{accreditation.created_at}}</span>
                                        <span class="ms-auto text-sm">{{percent_accreditation}}%</span>
                                    </div>
                                    <div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="{{percent_accreditation}}" aria-valuemin="0" aria-valuemax="100"  style="width: {{percent_accreditation}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                            <div class="d-flex w-100">
                                <div class="m-2">
                                    <i class="material-icons text-{{accreditation.type.color}} opacity-10">
                                        {{accreditation.type.icon}}
                                    </i>
                                </div>
                                <div class="ms-1 w-100">
                                    <div class="d-flex mb-2">
                                        <span class="me-2 text-sm text-capitalize">Acreditacion - {{accreditation.created_at}}</span>
                                        <span class="ms-auto text-sm">{{percent_accreditation}}%</span>
                                    </div>
                                    <div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="{{percent_accreditation}}" aria-valuemin="0" aria-valuemax="100"  style="width: {{percent_accreditation}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="dark horizontal my-2">
                <div class="card-footer pt-0 p-3 d-flex align-items-center">
                    <div class="card card-plain w-100">
                        <div class="card-body d-flex p-0 ">
                            {% if vehicle.owners.all %}
                                {% for item in vehicle.owners.all %}
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-4 text-center">
                                        <a href="javascript:;" class="avatar avatar-lg rounded-circle border border-primary" data-bs-toggle="modal" data-bs-target="#InfoModal">
                                            <img alt="Image placeholder" class="p-1" src="{{item.get_image}}">
                                        </a>
                                        <p class="mb-0 text-sm">{{item.name}}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-warning w-100" role="alert">
                                    <strong>Cuidado</strong> Este vehiculo no tiene ningun propietario registrado
                                </div>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Name</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">Review</th>
                                <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Email</th>
                                <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Employed</th>
                                <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="../../../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="avatar image">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 font-weight-normal text-sm">John Michael</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                <p class="text-sm font-weight-normal mb-0">Manager</p>
                                </td>
                                <td>
                                <span class="badge badge-dot me-4">
                                <i class="bg-info"></i>
                                <span class="text-dark text-xs">positive</span>
                                </span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                <p class="mb-0 font-weight-normal text-sm">john@user.com</p>
                                </td>
                                <td class="align-middle text-center">
                                <p class="text-sm font-weight-normal mb-0">23/04/18</p>
                                </td>
                                <td class="align-middle text-center">
                                <p class="text-sm font-weight-normal mb-0">43431</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-4  ">
        <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
        © <script>
                          document.write(new Date().getFullYear())
                        </script>2022,
        made with <i class="fa fa-heart" aria-hidden="true"></i> by
        <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
        for a better web.
        </div>
        </div>
        <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
        <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
        </li>
        <li class="nav-item">
        <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
        <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
        <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
        </li>
        </ul>
        </div>
        </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-1 pt-2">
                <h5 class="modal-title font-weight-normal text-sm" id="exampleModalLabel">Informacion de usuario</h5>
                <button type="button" class="btn-close text-dark pt-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center">
                    <div class="avatar avatar-xl position-relative">
                        <img src="/static/assets/img/bruce-mars.jpg" alt="bruce" class="w-100 rounded-circle shadow-sm">
                    </div>
                    <h4 class="text-gradient text-danger mt-4">You should read this!</h4>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
            <div class="modal-footer border-top-0 pt-0">
            <button type="button" class="btn btn-sm btn-link m-0 w-lg-25 me-3" data-bs-dismiss="modal">cerrar</button>
            <button type="submit" class="btn btn-sm bg-gradient-info  w-lg-25 m-0" id="delete_reg">Editar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}